[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/libigl/eigen
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp
[submodule "external/libigl"]
	path = external/libigl
	url = https://github.com/libigl/libigl.git
